.comment-indent {
    margin-left: 20px;
  }

.vote-buttons {
  display: flex;
  flex-direction:row;
}

.vote-buttons > * {
  margin: 10px 5px;

}

.vote-buttons button {
  border: 1px solid #000;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.vote-buttons button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.text-right {
  text-align: right;
}
